* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:focus{
	outline: 0;
}

body {
	background-color: #ffe9d6;
	color: black;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation Section */

.brand-link {
	display: flex;
	justify-content: space-evenly;
	margin: 15px auto;
}

ul {
	display: flex;
}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
	margin: 30px 30px;
	color: black;
	font-weight: 500;
	font-size: 25px;
}

li:hover {
	color: #ff7a00;
	font-size: 26px;
}
.cart-button {
	display: flex;
	width: 120px;
	background-color: #ff7a00;
	border-radius: 100px;
	justify-content: center;
	margin: auto 10px;
	padding: 5px;
}
.cart-button img {
	padding: 0 10px;
	width: 55px;
}
.cart-button p {
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 30px;
	padding: 0 10px;
}

/* First Section  */

.intro-body {
	display: flex;
	justify-content: center;
}
.intro-body h1 {
	color: #ff7a00;
	font-size: 65px;
	font-weight: 900;
	text-align: left;
	margin: 165px 0px 0px auto;
}
.intro-body img {
	width: 45%;
	padding: 10px;
	margin: 0 auto 0 0;
}
.shop-now {
	width: 380px;
	background-color: #ff7a00;
	color: #fff;
	margin: 5px auto;
	border-radius: 12px;
	height: 75px;
	position: relative;
}

.shop-now .shop-link {
	font-size: 30px;
	font-weight: 500;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
}
.shop-now a {
	color: #fff;
}
.shop-now a:hover {
	/* color: rgba(255, 255, 255, 0.7); */
	font-size: 32px;
}

/* About Section */

.about {
	background-color: #000;
	color: #fff;
	margin-top: 85px;
}
.about p {
	width: 80%;
	margin: 35px auto 0;
	padding: 120px 20px;
	font-size: 40px;
}

/* Our Gadgets */
.product-overlay {
	position: relative;
}
.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;
	border-radius: 3%;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
}
.image-overlay:hover {
	opacity: 1;
}
.gadgets {
	background-color: #fff;
	overflow: hidden;
}
.gadgets h2 {
	text-align: center;
	font-size: 70px;
	font-weight: 900;
	margin: 30px 0;
	padding: 10px 0;
}
.items {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	justify-content: space-evenly;
	justify-items: center;
	/* column-gap: 10px;
    row-gap: 10px; */
}
.items p {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	margin: 10px 0;
	padding: 10px 0;
}

.button {
	background-color: #ff7a00;
	border: none;
	width: 290px;
	margin: 10px auto 85px;
	border-radius: 12px;
	padding: 15px 0px;
}
.items a {
	color: #000;
	font-size: 25px;
	font-weight: 700;
}

.items a:hover {
	color: rgba(255, 255, 255, 0.7);
}

/* Footer section */
.footer {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: space-evenly;
}
.footer p {
	font-size: 25px;
	font-weight: 400;
	padding: 115px 0;
}
.footer img {
	width: 15%;
	padding: 105px 0;
}

/* Modal Section */

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	justify-content: center;
	padding-top: 20px;
	display: none;
	cursor: pointer;
}
.modal-content {
	width: 600px;
	height: 400px;
	max-height: auto;
	background-color: #fff;
	border-radius: 10px;
	overflow:auto;
}
table {
	width: 100%;
	padding: 10px;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.form div {
	width: 100%;
	position: relative;
}

.name .error-message {
	position: absolute;
	left: 75px;
	justify-content: center;
	color: red;
	font-size: small;
	visibility: hidden;
}
.email .error-message {
	position: absolute;
	left: 75px;
	justify-content: center;
	color: red;
	font-size: small;
	visibility: hidden;
}
.phone-number .error-message {
	position: absolute;
	left: 75px;
	justify-content: center;
	color: red;
	font-size: small;
	visibility: hidden;
}

input {
	width: 80%;
	height: 30px;
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 15px;
	background-color: #ffe9d6;
}
.amount-paid {
	margin: 30px;
}
.amount-paid p {
	font-size: 30px;
	font-weight: 500;
}
.modal-button {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.continue-button {
	background-color: #ffe9d6;
	width: 180px;
	border-radius: 8px;
	padding: 10px;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 5px;
}
.checkout-button {
	background-color: #ff7a00;
	width: 180px;
	border-radius: 8px;
	padding: 10px;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 5px;
}

/* cart input styling */


.item-quantity{
	width: 45px;
	border: none;
	background: #fff;
	text-align: center;
	margin: 8px;

}

.minus,
.plus{
	color: #fff;
	background: #ff7a00;
	border: none;
	width: 28px;
	border-radius: 10px;
	padding: 5px;
}
.remove-cart{
	color: #000;
	background: #ffe9d6;
	border: none;
	border-radius: 10px;
	padding: 8px;
}


/* summary styling */
.summary-section{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	justify-content: center;
	text-align: center;
	padding-top: 20px;
	display: none;
	cursor: pointer;
}

.summary2 {
	width: 600px;
	height: 400px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	max-height: auto;
	background-color: #fff;
	border-radius: 10px;
	overflow:auto;
	margin: 25px auto;
	padding-bottom: 25px;
}
.confirmation-message{
	font-size: 1.8rem;
	padding: 10px 15px;
	margin: 20px auto 15px;
}

.summary2 img{
	margin: 10px auto 15px;
	width: 7rem;
}
.summary{
	font-size: 1.3rem;
	font-weight: 600;
	margin: 10px auto 15px;
}
#summary-details{
	margin: 10px 0 25px;
}

.ok-button {
	background-color: #ff7a00;
	width: 120px;
	font-size:1.3rem;
	font-weight: 500;
	border-radius: 8px;
	padding: 10px 45px;
	margin: 25px 5px 100px 450px;
	overflow: scroll;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);

}

/* Mobile Responsiveness */

@media screen and (min-width: 375px) and (max-width: 744px) {
	.intro-body {
		display: block;
	}
	.intro-body h1 {
		text-align: center;
		margin-top: 40px;
	}
	.shop-now {
		width: 280px;
	}
	.items {
		display: block;
	}
	.items p {
		font-size: 40px;
	}
	.items img {
		width: 300px;
	}
	.brand-link {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}
	li {
		list-style-type: none;
		margin: 30px 20px;
		font-size: 15px;
	}

	li:hover {
		font-size: 16px;
	}
	.brand-link .logo {
		visibility: hidden;
		position: absolute;
	}
	.about p {
		width: 90%;
		margin: 35px auto 0;
		padding: 60px 10px;
		font-size: 25px;
	}
	.footer p {
		font-size: 15px;
		align-items: center;
	}
	.item-quantity{
		width: 15px;
		padding:0;
		margin:0;
	}
}
	
}

@media all and (min-width: 745px) and (max-width: 1065px) {
	.intro-body {
		display: block;
	}
	.intro-body h1 {
		text-align: center;
		margin-top: 50px;
	}
	.items {
		display: grid;
		grid-template-columns: repeat(2, 200px);
	}
	
